<div class="thread_creation_main">
  <div class="thread_creation_title">
    <h1>さぁゲーマーが集う場所を作ろう！</h1>
  </div>

  <div class="container">
    <%= form_tag("/thread_create", {method: "post"}) do %>
      <div class="game_name">
        <p>ゲームの名前</p>
        <input name="game_name"> 
      </div>

      <div class="thread_name">
        <p>集会場の名前</p>
        <input name="thread_name"> 
      </div>

      <div class="thread_creation_btn">
        <input type="submit" value="作成"> 
      </div>
    <% end %>
  </div>
</div>